.container h1 {
    text-align: center;
}
  
.content-box{
    padding: 40px 120px 60px 60px;
    background-color: #EEEEEE;
    border-radius: 20px;
    margin: auto;
}
.content-box form{
    background-color: #EEEEEE;
    width: 300px;
    height: 100px;
    padding: 50px;
    box-sizing: content-box;
}


/*.text-line{
    display: flex;
}*/
/*.tap-select{
    padding: 10px 20px 10px 20px;
}
.tap-select select{
    padding: 5px;
    border-radius: 5px;
}
.tap-top-select-in{
    display: flex;
}*/
.content-box button{
    background-color: #02BC77;
}