.container {
    width: 100rem;
    height: 50rem;
    padding: 100px 20px 10px 20px;
    background-color: #ffffff;
}

.buttonBoxApp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    /* margin-left: 10rem; */
    /* margin-right: -29rem; */
    margin-top: 7rem;
    
}

.contentBoxS{
    height: 35rem;
    /* background-color: whitesmoke; */
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    background-color: #ffffff;

}

.leftBoxCApp{
    width: 60%;

}

.rightBoxCAPP{
    width: 150%;
}